.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.cellContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: calc(2% - 8px); */
  width: calc(2% - 8px);
}

.cell {
  box-sizing: border-box;
  border: 1px solid #EEE;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color .6s;
}

.bgYellow {
  background-color: rgba(255, 255, 0, .7);
}